<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <!-- <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/> -->
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  
  </startup>

	<!--MaterialSkin-->
    
	
	<!--This is another comment-->
	
	<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  
  <connectionStrings>
   
    <!--<add name="DBEntities" providerName="System.Data.SqlClient" connectionString="Data Source=SERVER; Initial Catalog=MAHDIAG;Persist Security Info=False;User ID=emsl;Password=emsl@2018;Connection Timeout=1200; multipleactiveresultsets=true;"/>-->
    <!-- Akhalia:Local IP: 192.168.88.212, RealIP: 115.69.214.67 -->
    <!-- Nayasarak: 192.168.0.201-->
   
    <!-- Mah Local IP Link: \\192.168.88.212\mahupdate\local\ -->
    <!-- Mah Real IP Link: http://115.69.214.67/mahupdate -->
    
   <!-- <add name="DBEntities" providerName="System.Data.SqlClient" connectionString="Data Source=Server2; Initial Catalog=MAHDIAG;Persist Security Info=False;User ID=sa;Password=MAHA@#271094;Connection Timeout=1200; multipleactiveresultsets=true;" /> -->

   <add name="DBEntities" providerName="System.Data.SqlClient" connectionString="Data Source=Server; Initial Catalog=UnionHMymensinghDB; Persist Security Info=False;User ID=sa;Password=emslsoft@2018;Connection Timeout=1200; multipleactiveresultsets=true;"/> 

   <!-- <add name="DBEntities" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.0.201; Initial Catalog=MAHDIAG;Persist Security Info=False;User ID=emsl;Password=Emsl@21_928;Connection Timeout=1200; multipleactiveresultsets=true;" /> -->

    <!-- <add name="DBEntities" providerName="System.Data.SqlClient" connectionString="Data Source=SERVER; Initial Catalog=MAHDIAG;Persist Security Info=False;User ID=emsl;Password=Ems$rbsb007;Connection Timeout=1200; multipleactiveresultsets=true;" /> -->
 
  </connectionStrings>
  
  <appSettings> 
   
    <add key="DATE_TIME_FORMAT" value="dd/MM/yyyy"/>
    <add key="ORG_CODE" value="2"/>
    
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
